<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body style="font-size: 1.8rem; margin-top: 10px; margin-bottom: 10px">
<div class="container">


    <div class="jumbotron">

        <h1>App Info!</h1>
        <table class="table table-striped" style="font-size: 2rem">
            <thead>
            <tr class="f">
                <th>Container ID</th>
                <th>Project name</th>
                <th>Project version</th>
            </tr>
            </thead>
            <tbody>

            <tr class="info">
                <td>{{containerid}}</td>
                <td>{{projectname}}</td>
                <td>{{version}}</td>
            </tr>
            </tbody>

        </table>
    </div>

    <br>


    <div class="page-header">
        <h2>Dokumentasjon</h2>
    </div>

    <a href="https://youtu.be/aXj_Pi5gu18" target="_blank">Link til video-gjennomgang av Jenkins pipelinen</a>
    <br>
    <a href="https://youtu.be/-VwP0bkTZDQ" target="_blank">Link til video-gjennomgang av Ansible</a>
    <p>
        Appen er bygget for å kjøre i docker. Dette gjør det mye enklere å både teste appen og deploye den til
        kubernetes. Det at appen også testes i docker, gjør jenkinsfilen mye enklere og mer robust, da test-environmentet
        er veldig isolert og reproduserbart.
    </p>

    <p>
        Jeg trenger både en frontend og backend server i min setup, men siden applikasjonen her bare er ment for å være
        en demo, så er det enklere å bare ha én applikasjon for begge. Dette er grunnen til at applikasjonen tar endtype
        som et flag. I en ekte applikasjon så vil så klart backenden og frontenden være i 2 forskjellige repositories i
        forskjellige filer, men her gjør det ikke så mye.
    </p>

    <p>
        Flaggene til applikasjonen er:
    </p>
    <ul>
        <li><strong>port:</strong> Dette er porten http serveren vil lytte på
        </li>
        <li><strong>endtype: </strong> Enten “frontend” eller “backend”.
        </li>
        <li><strong>backend: </strong> Denne trengs bare om typen er frontend slik at frontend peker på backend.
        </li>
    </ul>

    <p>Selv om den kjøres og testes i docker-containere i jenkins, er det mulig å kjøre den lokalt med node. Samme flagg
        som for å kjøre i docker-containere.
        <br>Eksempel:
    </p>
    <p>
        For å starte backend serveren:
    </p>
    <div class="well well-sm">
        <p>
            $ node server.js --endtype=backend
        </p>
    </div>
    <p> For å starte frontend serveren slik at den kan kommunisere med serveren over:
    </p>
    <div class="well well-sm">
        <p>
            $ node server.js --endtype=frontend --port=3001 --backend=http://127.0.0.1:8080
        </p>
    </div>
    <br>


    <h3>
        Continuous deployment
    </h3>

    <p>
        Del av oppgaven var å sette opp en continuous deployment workflow, med jenkins. Det har jeg gjort her ved å
        sette det opp slik at jenkins bygger, tester og deployer applikasjonen til forskjellige deployments ved
        endringer i bitbucket git repository. En av hovedpunktene i løsningen min er det at det er lett å rulle ut ny
        kode til forskjellige stadier av produksjon. Hovedstadiene er production og canary. Produksjon er der
        produksjonskoden lever, canary fungerer som en salgs A/B testing, der en liten prosentandel av brukerne kjører
        mot canary versjonen. Dette tillater en workflow der man kan phase inn nye features ved å pushe dem til canary
        branchen, og så når man har nok data og suksessrate, merge det inn i master-branchen. Man kan enkelt teste ny
        funksjonalitet uten at brukeren er klar over det, og raskt finne ut om det er problemer og rulle fort tilbake.
    </p>
    <p>
        Dette oppsettet er bygget på jenkins multibranch pipelines. Commits til master-branchen blir sendt til
        produksjons-pipelinen, commits til canary-branchen blir send til produksjons-pipelinen og commits til alle andre
        branches oppretter en dev pipeline, som ikke er tilgjengelig utenfra clusteret, den kan nås med kubectl proxy.
    </p>


    <p>
        Dette er en vanlig workflow og Google har derfor laget et ferdig oppsatt jenkins image som man kan bruke.
        Jenkins imaget er derfor tatt fra Googlet sitt api slik at det er ferdig oppsatt med Google sine plugins. Har
        også brukt konfigurasjonsfilene til Google for kubernetes servicene og endret på disse til å passe mitt
        prosjekt.
        Underveis i prosjektet testet jeg kubernetes oppsettet med Google sin sample app, men så fort oppsettet fungerte
        noenlunde slik jeg ville ha det laget jeg min egen applikasjon og endret på pipelinen og konfigurasjon til å
        fungere med mitt prosjekt.
    </p>

    <p>Ettersom Appen med fordel kunne vært delt i 2, frontend og backend, så ville de kanskje vært i hvert sitt
        repository og hatt hver sin jenkins pipeline i stedet for casebasert jenkinsfile.
    </p>
    <p>Noe annet jeg ønsket å nevne er autoscaling. Dette er en av de store fordelene med å bruke containerteknologi.
        Autoscaling tillater deg å sette en minste antall noder og et maks antall noder du vil ha, og la
        hostingløsningen din spinne opp flere ressurser etterhvert som du trenger det. Dette kan være på pod, node eller
        til og
        med kluster nivået, men i dette tilfelle så er det på node nivået. Fordelene ved dette er åpenbare, da man kan
        unngå downtime ved burst trafikk, men fortsatt betale lite når man ikke bruker ressursene.
    </p>


    <h3>Skisse</h3>
    <p>Skisse ligger i README.md</p>

    <br>

    <h3>Ansible</h3>

    <p>Har laget ansible system for å sette opp developmentmaskiner i stedet for å sette opp jenkins/deployment
        servere. Dette er av
        to grunner. 1 jeg ønsket et system for å sette opp nye dev VMer og maskiner for meg selv, og 2 fordi jeg valgte
        å
        sette opp både jenkins og app clusteret i Google Cloud kubernetes engine og ikke fant bruk for ansible her annet
        enn å automatisere shell scripts. Noe jeg følte ikke ble helt fornuftig. Shell kommandoer i ansible er ikke
        automatisk idempotent. For en byggeserver med kubernetes er det usannsynlig at du ønsker sette opp dette flere
        ganger på masse maskiner, men kan kanskje være nyttig for å få til samme konfigurasjon ved et senere tidspunkt
        om noe skjer med clusteret ditt, eller du flytter til en annen server leverandør. Likevel tenker jeg at ansible
        ikke nødvendigvis forbedrer denne prosessen da siden kommandoene i stor grad blir låst til systemet du bruker
        når du setter opp første gang.
        Jeg har også en ansible playbook som setter opp en VM i Google cloud.
    </p>


    <h3>Sikkerhet</h3>
    <p>Negativt:</p>
    <ul>
        <li>Jenkins har ikke https.
        </li>
        <li>brukernavnet jeg bruker i Jenkins er “jenkins”.</li>
        <li>At denne informasjonen er åpen på siden</li>
    </ul>
    <p>Positivt:</p>
    <ul>
        <li>SSH for alt av oppsett.

        </li>
        <li>Ingen hardkodede passord
        </li>
        <li>Jenkins og appen er i samme cluster og trenger ikke gå ut av nettverket for å kommunisere.
        </li>
    </ul>


    <h3>Til ettertanke</h3>
    <h4>Forberinger som kunne vært gjort.</h4>

    <p>
        Annet enn nevnte sikkerhetsproblemer kunne frontend og backend med fordel vært i hvert sitt git prosjekt eller i
        verste fall to prosjekter i samme prosjekt.</p>

    <br>

    <p>Kilder:</p>
    <a href="https://cloud.google.com/solutions/continuous-delivery-jenkins-kubernetes-engine
">https://cloud.google.com/solutions/continuous-delivery-jenkins-kubernetes-engine </a>

</div>
</body>
</html>